# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts + Sessions + Cache
# ---------------

/storage/*
!/storage/accounts/index.html
!/storage/sessions/index.html
!/storage/cache/index.html

# License
# ---------------

/site/config/.license

# ------------
# Kirby Starter Custom
# ------------

/kirby
/vendor
/node_modules